/* Reset básico */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #f4f5fc;
    color: #333;
    box-sizing: border-box; /* Garante consistência no box model */
}

/* Garante que todos os elementos usem o mesmo box model */
*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Header */
header {
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5rem;
    color: #787cb5;
    margin-bottom: 10px;
}

header p {
    color: #787cb5;
    font-size: 1.2rem;
}

/* Botão principal */
.main-button {
    background:#787cb5 ;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.main-button:hover {
    background: #474c9f;
}

/* Lista de sessões */
.sessions-list {
    margin-top: 30px;
    text-align: left;
}

.session-item {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.session-item a {
    color: #787cb5;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.session-item a:hover {
    color: #474c9f;
}

.session-item button {
    background: #787cb5;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.session-item button:hover {
    background: #787cb5;
}

/* Footer */
footer {
    margin-top: 30px;
    font-size: 0.9rem;
    color: #787cb5;
}
